body {
    padding: 0;
    margin: 0;
}

#mainContent {
    background-image: url(../img/gradienta-7brhZmwXn08-unsplash.jpg);
    background-size: 100% 100%;
}

h2 {
    text-align: center;
}

a {
    text-transform: none;
    color: #000000;
}

a:hover {
    color: #636363;
}

header .row {
    margin-top: 5vh;
}

img {
    height: 440px;
    width: 90%;
}

main.container {
    padding: 0;
}

#skill {
    background-color: #FCC0C0;
    opacity: 0.85;
}

.progress {
    height: 14px;
}

.progress-bar{
    text-align: right;
}

.progress-bar i::before {
    overflow: visible;
    z-index: 3;
}

.progress-bar.progressBlue {
    background-color: #81CAC8;
}

.progress-bar.progressPink {
    background-color: #FCC6C4;
}

#portfolio {
    background-color: #FBD2CD;
    opacity: 0.85;
}

#about {
    background-color: #99D2CE;
    opacity: 0.85;
}

#contact {
    background-color: #75C5C5;
    opacity: 0.85;
}

button {
    padding: 10px 50px;
    background-color: #60BFC1;
}

@media screen AND (max-width: 992px) {
    
}